* {
  margin: 0;
  padding: 0; }

.button {
  background: none;
  color: orange;
  border: orange 1px solid;
  cursor: pointer;
  transition: all .2s ease-in;
  text-align: center; }
  .button:hover {
    background-color: orange;
    color: black; }

.section-header {
  text-align: center;
  color: orange;
  color: black;
  font-family: 'Lato', sans-serif;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 2.5em; }
  @media all and (max-width: 600px) {
    .section-header {
      font-size: 2em; } }
  .section-header:after {
    content: '';
    display: block;
    width: 100px;
    background-color: black;
    height: 3px;
    margin: 10px auto; }
    @media all and (min-width: 1501px) {
      .section-header:after {
        width: 120px; } }
  @media all and (min-width: 1501px) {
    .section-header {
      font-size: 3em; } }

.hidden-header {
  display: none; }

.navigation-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between; }
  @media all and (max-width: 600px) {
    .navigation-container {
      flex-direction: column; } }
  .navigation-container .navigation-header {
    display: inline-block;
    padding: 5px 30px;
    background-color: black;
    position: relative; }
    @media all and (max-width: 600px) {
      .navigation-container .navigation-header {
        text-align: center; } }
    .navigation-container .navigation-header .brand {
      color: white;
      font-family: 'Delius Unicase', cursive;
      font-size: 1.7em;
      letter-spacing: 5px; }
    .navigation-container .navigation-header .button {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 35px;
      height: 35px;
      display: none; }
      @media all and (max-width: 600px) {
        .navigation-container .navigation-header .button {
          display: block; } }
      .navigation-container .navigation-header .button .fa-chevron-down {
        line-height: 35px;
        transform: rotateZ(180deg) translateY(3px);
        transition: transform .3s ease-in; }
      .navigation-container .navigation-header .button.collapsed .fa-chevron-down {
        transform: rotateZ(0); }
  .navigation-container .navigation {
    display: inline-flex;
    width: 70%; }
    @media all and (min-width: 1501px) {
      .navigation-container .navigation {
        width: 50%; } }
    @media all and (max-width: 600px) {
      .navigation-container .navigation {
        width: 100%;
        display: none; } }
    @media all and (min-width: 601px) and (max-width: 750px) {
      .navigation-container .navigation {
        width: 65%; } }
    .navigation-container .navigation__link {
      flex-grow: 1;
      text-align: center;
      padding: 13px 0;
      display: inline-block;
      color: white;
      font-family: 'Lato', sans-serif;
      text-decoration: none; }
      .navigation-container .navigation__link:hover {
        background-color: black;
        transition: all .3s ease-in; }
      @media all and (max-width: 600px) {
        .navigation-container .navigation__link {
          padding: 10px 0;
          display: block; } }
      @media all and (min-width: 601px) and (max-width: 750px) {
        .navigation-container .navigation__link {
          font-size: 0.9em; } }

.home-section {
  display: flex;
  align-items: center;
  background-image: url(images/home-opinions-bg.jpg);
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* parallax */
  background-attachment: fixed;
  background-repeat: no-repeat; }
  .home-section__heading {
    width: 50%;
    margin-left: 5%; }
    @media all and (max-width: 600px) {
      .home-section__heading {
        width: 80%;
        margin: 0 auto; } }
  .home-section__heading-text {
    color: white;
    background-color: black;
    width: max-content;
    padding: 5px 25px;
    margin-left: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    opacity: 0.9; }
    @media all and (max-width: 450px) {
      .home-section__heading-text {
        font-size: 1.7em;
        width: 100%;
        padding: 5px 0;
        margin-left: 0;
        text-align: center; } }
    @media all and (min-width: 451px) and (max-width: 600px) {
      .home-section__heading-text {
        text-align: center;
        width: 100%;
        font-size: 2em;
        padding: 5px 0;
        margin-left: 0; } }
    @media all and (min-width: 601px) and (max-width: 900px) {
      .home-section__heading-text {
        font-size: 2.5em; } }
    @media all and (min-width: 901px) and (max-width: 1200px) {
      .home-section__heading-text {
        font-size: 3em; } }
    @media all and (min-width: 1801px) {
      .home-section__heading-text {
        font-size: 4.8em; } }
    .home-section__heading-text:first-child {
      margin-bottom: 8px; }
  .home-section .button-wrapper {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center; }
  .home-section .button {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    border: none;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: rgba(255, 165, 0, 0.7);
    font-size: 1.5em;
    border-radius: 12px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px; }
    @media all and (max-width: 450px) {
      .home-section .button {
        width: 150px;
        height: 35px;
        line-height: 35px;
        font-size: 1.2em; } }
    @media all and (min-width: 1501px) {
      .home-section .button {
        width: 250px;
        height: 50px;
        line-height: 50px;
        font-size: 1.8em; } }
    .home-section .button:hover {
      color: orange; }

.about-section {
  font-family: 'Oswald', sans-serif;
  background-color: black;
  text-align: center;
  color: orange;
  width: 100%;
  padding: 60px 0 40px 0; }
  @media all and (max-width: 600px) {
    .about-section {
      padding-top: 40px; } }
  .about-section__heading {
    font-size: 1.9em;
    width: 60%;
    margin: 0 auto; }
    @media all and (max-width: 450px) {
      .about-section__heading {
        width: 80%;
        font-size: 1.4em; } }
    @media all and (min-width: 451px) and (max-width: 600px) {
      .about-section__heading {
        width: 80%;
        font-size: 1.6em; } }
    @media all and (min-width: 1501px) {
      .about-section__heading {
        font-size: 2.1em; } }
  .about-section__brand {
    color: white;
    font-family: 'Delius Unicase', cursive;
    font-size: 1em;
    letter-spacing: 5px; }
  .about-section .button {
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 12px; }
    @media all and (max-width: 450px) {
      .about-section .button {
        width: 150px;
        height: 35px;
        line-height: 35px;
        font-size: 1.2em; } }
    @media all and (min-width: 1501px) {
      .about-section .button {
        width: 250px;
        font-size: 1.8em;
        height: 50px;
        line-height: 50px; } }

.portfolio-section {
  width: 100%;
  padding-top: 30px; }
  .portfolio-section__container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 13px; }
    @media all and (min-width: 451px) and (max-width: 600px) {
      .portfolio-section__container {
        width: 70%; } }
    @media all and (max-width: 600px) {
      .portfolio-section__container {
        grid-template-columns: 1fr; } }
    @media all and (min-width: 1501px) {
      .portfolio-section__container {
        grid-column-gap: 40px;
        grid-row-gap: 40px; } }
    @media all and (min-width: 1801px) {
      .portfolio-section__container {
        width: 70%; } }
    .portfolio-section__container .project {
      background-color: black;
      color: white;
      width: 100%;
      padding-bottom: 20px;
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75); }
      .portfolio-section__container .project__name {
        text-transform: uppercase;
        text-align: center;
        padding: 12px 0;
        color: orange; }
        @media all and (min-width: 1501px) {
          .portfolio-section__container .project__name {
            padding: 17px 0;
            font-size: 1.4em; } }
      .portfolio-section__container .project__image-wrapper {
        overflow: hidden; }
      .portfolio-section__container .project__image {
        display: block;
        width: 100%;
        transform: scale(1.5);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all .3s ease-out; }
        .portfolio-section__container .project__image:hover {
          transform: scale(1);
          -webkit-filter: none;
          filter: none;
          transition: all .3s ease-in; }
      .portfolio-section__container .project__description {
        padding: 20px 30px;
        line-height: 1.4;
        text-align: center; }
        @media all and (min-width: 601px) and (max-width: 900px), (max-width: 450px) {
          .portfolio-section__container .project__description--extra {
            display: none; } }
      .portfolio-section__container .project__details {
        width: 150px;
        height: 35px;
        line-height: 35px;
        margin: 0 auto;
        border-width: 2px; }
        .portfolio-section__container .project__details:hover .project__details-link {
          color: black; }
      .portfolio-section__container .project__details-link {
        color: orange;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: color .2s ease-in; }

.team-section {
  font-family: 'Lato', sans-serif;
  padding-bottom: 50px;
  padding-top: 30px;
  background-image: url(images/black_paper.png);
  position: relative; }
  .team-section__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0; }
  .team-section .section-header {
    color: orange;
    position: relative;
    z-index: 1; }
    .team-section .section-header:after {
      background-color: orange; }
  .team-section__container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 10%;
    position: relative;
    z-index: 1; }
    @media all and (max-width: 600px) {
      .team-section__container {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
        grid-column-gap: 10px; } }
    @media all and (min-width: 601px) and (max-width: 800px) {
      .team-section__container {
        grid-column-gap: 5%; } }
    @media all and (min-width: 1801px) {
      .team-section__container {
        width: 70%; } }
  .team-section .member {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0;
    transition: all .2s ease-in; }
    .team-section .member:hover {
      -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 165, 0, 0.75);
      -moz-box-shadow: 0px 0px 10px 2px rgba(255, 165, 0, 0.75);
      box-shadow: 0px 0px 10px 2px rgba(255, 165, 0, 0.75);
      transition: all .2s ease-in; }
      .team-section .member:hover .member__details {
        border: none; }
      .team-section .member:hover .member__name:after {
        width: 80%;
        transition: all .2s ease-in; }
      .team-section .member:hover .member__photo {
        transform: scale(1.2);
        transition: all .2s ease-in; }
    .team-section .member__photo-wrapper {
      width: 80%;
      margin: 0 auto;
      border-radius: 100%;
      overflow: hidden;
      text-align: center;
      border: 1px solid orange; }
    .team-section .member__photo {
      width: 100%;
      display: block;
      transition: all .2s ease-in; }
    .team-section .member__details {
      margin-top: 10px;
      border-left: 2px solid orange;
      border-right: 2px solid orange; }
    .team-section .member__name {
      color: orange;
      text-align: center;
      font-weight: 700;
      font-size: 1.5em;
      margin-bottom: 5px; }
      @media all and (max-width: 800px) {
        .team-section .member__name {
          font-size: 1.3em; } }
      .team-section .member__name:after {
        content: '';
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-top: 5px;
        background-color: orange;
        height: 1px;
        transition: all .2s ease-in; }
    .team-section .member__position {
      color: orange;
      text-align: center;
      font-style: italic;
      font-size: 1.2em; }
      @media all and (max-width: 800px) {
        .team-section .member__position {
          font-size: 1em; } }

.opinions-section {
  background-attachment: fixed;
  background-image: url(images/home-opinions-bg.jpg);
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 30px;
  font-family: 'Lato', sans-serif; }
  .opinions-section__container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px; }
    @media all and (max-width: 900px) {
      .opinions-section__container {
        grid-template-columns: 1fr; } }
    @media all and (min-width: 1801px) {
      .opinions-section__container {
        width: 70%; } }
  .opinions-section .opinion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #111110;
    line-height: 1.5;
    -webkit-box-shadow: 3px 3px 5px 0px black;
    -moz-box-shadow: 3px 3px 5px 0px black;
    box-shadow: 3px 3px 5px 0px black;
    transition: all .3s ease; }
    .opinions-section .opinion:first-child {
      grid-column: 1/3;
      grid-row: 1/2; }
      @media all and (max-width: 900px) {
        .opinions-section .opinion:first-child {
          grid-column: initial;
          grid-row: initial; } }
    .opinions-section .opinion:nth-child(2) {
      grid-column: 1/3;
      grid-row: 2/3; }
      @media all and (max-width: 900px) {
        .opinions-section .opinion:nth-child(2) {
          grid-column: initial;
          grid-row: initial; } }
    .opinions-section .opinion:last-child {
      grid-column: 3/4;
      grid-row: 1/3; }
      @media all and (max-width: 900px) {
        .opinions-section .opinion:last-child {
          grid-column: initial;
          grid-row: initial; } }
    .opinions-section .opinion__content {
      color: white; }
    .opinions-section .opinion__author {
      color: orange;
      text-align: right;
      font-size: 1.1em;
      margin-top: 15px; }
  .opinions-section .clients__container {
    width: 80%;
    margin: 0 auto;
    -webkit-box-shadow: 3px 3px 5px 0px black;
    -moz-box-shadow: 3px 3px 5px 0px black;
    box-shadow: 3px 3px 5px 0px black; }
    @media all and (min-width: 1801px) {
      .opinions-section .clients__container {
        width: 70%; } }
  .opinions-section .clients__header {
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: orange; }
    @media all and (min-width: 1501px) {
      .opinions-section .clients__header {
        padding: 17px 0;
        font-size: 1.4em; } }
  .opinions-section .clients__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #080808; }
    @media all and (max-width: 800px) {
      .opinions-section .clients__content {
        grid-template-columns: 1fr 1fr; } }
  .opinions-section .client {
    transition: all .3s ease;
    border-top: #080808 1px solid; }
    .opinions-section .client:hover {
      background-color: black;
      border-top: orange 1px solid;
      transition: background-color .3s ease; }
      .opinions-section .client:hover .client__logo {
        transform: scale(1.2);
        transition: all .3s ease; }
    .opinions-section .client__logo {
      display: block;
      width: 70%;
      margin: 0 auto;
      transition: all .3s ease; }

.contact-section {
  padding-top: 30px;
  padding-bottom: 100px;
  font-family: 'Lato', sans-serif;
  background-image: url(images/contact-bg.jpg);
  background-position: top;
  background-size: cover; }
  .contact-section .section-header {
    color: orange; }
    .contact-section .section-header:after {
      background-color: orange; }
  .contact-section__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    @media all and (max-width: 600px) {
      .contact-section__container {
        flex-direction: column; } }
    @media all and (min-width: 601px) and (max-width: 800px) {
      .contact-section__container {
        width: 90%; } }
    @media all and (min-width: 1801px) {
      .contact-section__container {
        width: 70%; } }
  .contact-section .contact-info {
    background-color: #111110;
    color: orange;
    text-align: center;
    -webkit-box-shadow: 3px 3px 5px 0px black;
    -moz-box-shadow: 3px 3px 5px 0px black;
    box-shadow: 3px 3px 5px 0px black;
    width: 40%; }
    @media all and (max-width: 600px) {
      .contact-section .contact-info {
        width: 100%;
        margin-bottom: 15px; } }
    .contact-section .contact-info__header {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 15px 0;
      font-size: 1.2em;
      font-weight: 700;
      letter-spacing: 1px; }
      @media all and (min-width: 1501px) {
        .contact-section .contact-info__header {
          padding: 17px 0;
          font-size: 1.4em; } }
    .contact-section .contact-info__content {
      padding: 15px 0;
      line-height: 28px;
      font-size: 1.1em; }
      .contact-section .contact-info__content .link {
        color: orange; }
    .contact-section .contact-info .social-links {
      width: 50%;
      display: inline-flex;
      justify-content: space-between; }
      @media all and (min-width: 1501px) and (max-width: 1800px) {
        .contact-section .contact-info .social-links {
          width: 40%; } }
      @media all and (min-width: 1801px) {
        .contact-section .contact-info .social-links {
          width: 30%; } }
      .contact-section .contact-info .social-links .fab {
        font-size: 1.7em;
        color: orange; }
  .contact-section .contact-form {
    width: 55%;
    background-color: black;
    padding-bottom: 20px;
    -webkit-box-shadow: 3px 3px 5px 0px black;
    -moz-box-shadow: 3px 3px 5px 0px black;
    box-shadow: 3px 3px 5px 0px black; }
    @media all and (max-width: 600px) {
      .contact-section .contact-form {
        width: 100%; } }
    .contact-section .contact-form__header {
      font-size: 1.2em;
      font-weight: 700;
      letter-spacing: 1px;
      width: 100%;
      padding: 30px 0;
      text-align: center;
      color: orange;
      background-color: black; }
      @media all and (min-width: 1501px) {
        .contact-section .contact-form__header {
          font-size: 1.4em; } }
    .contact-section .contact-form__form {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px; }
    .contact-section .contact-form__input {
      display: block;
      margin-top: 10px;
      width: 100%;
      height: 40px;
      background: none;
      border: none;
      border-top: rgba(255, 165, 0, 0.5) 1px solid;
      border-bottom: rgba(255, 165, 0, 0.5) 1px solid;
      color: orange;
      opacity: .7;
      padding-left: 5px;
      font-size: 1.2em;
      transition: .3s ease; }
      .contact-section .contact-form__input::placeholder {
        color: orange;
        font-size: 0.8em;
        letter-spacing: 0px;
        transition: .3s ease;
        font-family: 'Lato', sans-serif; }
      .contact-section .contact-form__input:focus::placeholder {
        opacity: 1;
        letter-spacing: 4px;
        transition: all .3s ease; }
      @media all and (min-width: 1801px) {
        .contact-section .contact-form__input {
          margin-top: 20px; } }
    .contact-section .contact-form .input:focus {
      padding-top: 10px;
      padding-bottom: 10px;
      transition: all .3s ease;
      outline: none;
      border-width: 2px;
      border-color: orange; }
    .contact-section .contact-form .textarea {
      height: 28px;
      padding-top: 12px;
      resize: none;
      overflow: hidden; }
      .contact-section .contact-form .textarea:focus {
        padding-top: 22px;
        padding-bottom: 10px;
        height: 150px;
        transition: all .3s ease;
        outline: none;
        border-width: 2px;
        border-color: orange; }
    @media all and (max-width: 600px) {
      .contact-section .contact-form__button-wrapper {
        text-align: center; } }
    .contact-section .contact-form__button {
      width: 150px;
      padding: 5px 0;
      text-align: center;
      margin-top: 20px;
      color: orange;
      border: orange 1px solid;
      font-family: 'Oswald', sans-serif;
      font-size: 1.2em;
      cursor: pointer;
      background: none;
      transition: all .3s ease; }
      .contact-section .contact-form__button:hover {
        cursor: pointer;
        background-color: orange;
        color: black;
        transition: all .3s ease; }

.footer-section {
  background-color: black;
  color: white;
  padding: 30px 0;
  text-align: center;
  font-family: 'Lato', sans-serif; }

/*# sourceMappingURL=style.css.map */
