.about-section {
    font-family: 'Oswald', sans-serif;
    background-color: black;
    text-align: center;
    color: orange;
    width: 100%;
    padding: 60px 0 40px 0;
    @media all and (max-width: 600px) {
        padding-top: 40px;
    }
    &__heading {
        font-size: 1.9em;
        width: 60%;
        margin: 0 auto;
        @media all and (max-width: 450px) {
            width: 80%;
            font-size: 1.4em;
        }
        @media all and (min-width: 451px) and (max-width: 600px) {
            width: 80%;
            font-size: 1.6em;
        }
        @media all and (min-width: 1501px) {
            font-size: 2.1em;
        }
    }
    &__brand {
        color: white;
        font-family: 'Delius Unicase', cursive;
        font-size: 1em;
        letter-spacing: 5px;
    }
    .button {
        display: block;
        text-decoration: none;
        font-size: 1.5em;
        width: 200px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 12px;
        @media all and (max-width: 450px) {
            width: 150px;
            height: 35px;
            line-height: 35px;
            font-size: 1.2em;
        }
        @media all and (min-width: 1501px) {
            width: 250px;
            font-size: 1.8em;
            height: 50px;
            line-height: 50px;
        }
    }
}