.home-section {
    display: flex;
    align-items: center;
    background-image: url(images/home-opinions-bg.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* parallax */
    background-attachment: fixed;
    background-repeat: no-repeat;
    &__heading {
        width: 50%;
        margin-left: 5%;
        @media all and (max-width: 600px) {
            width: 80%;
            margin: 0 auto;
        }
    }
    &__heading-text {
        color: white;
        background-color: black;
        width: max-content;
        padding: 5px 25px;
        margin-left: 15px;
        font-family: 'Oswald', sans-serif;
        font-size: 4em;
        opacity: 0.9;
        @media all and (max-width: 600px) {
            text-align: center;
            width: 100%;
            font-size: 2em;
            padding: 5px 0;
        }
        @media all and (min-width: 601px) and (max-width: 900px) {
            font-size: 2.5em;
        }
        @media all and (min-width: 901px) and (max-width: 1200px) {
            font-size: 3em;
        }
        &:first-child {
            margin-bottom: 8px;
        }
    }
    .button-wrapper {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .button {
        display: inline-block;
        text-decoration: none;
        background-color: black;
        border: none;
        width: 200px;
        height: 40px;
        line-height: 40px;
        color: rgba(255, 165, 0, .7);
        font-size: 1.5em;
        border-radius: 12px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
        &:hover {
            color: rgba(255, 165, 0, 1);
        }
    }
}